<%= form_for @project do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :contact %><br />
    <%= f.select :contact_id, Contact.all.order(:name).collect {|c| [c.name, c.id]} %>
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_field :description  %>
  </p>
  <p>
    <%= f.label :rate, "Default rate to charge" %><br />
    <%= f.text_field :rate %>
  </p>
  <p><%= f.submit %></p>
<% end %>
